nav {
  height: 15vh;
  display: grid;
  grid-template-areas: "logo" "links" "modo" "boton";
  background: #2B2C2F;
}
nav div.nav {
  display: grid;
  margin: 0 5%;
  grid-template: "logo links modo boton" 15vh/10% 60% 10% 188px;
}
nav div.nav img.logo {
  grid-area: logo;
  margin: 33%;
  width: 5vh;
  height: 5vh;
}
nav div.nav div.links_nav {
  grid-area: links;
  width: 100%;
  display: flex;
  align-items: center;
}
nav div.nav div.links_nav a {
  text-decoration: none;
  margin-right: 10%;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
nav div.nav div.Modo_nav {
  grid-area: modo;
  margin: 33% 0;
}
nav div.nav div.Modo_nav .sol {
  width: 4vh;
  height: 4vh;
}
nav div.nav div.Modo_nav .ingles {
  width: 4vh;
  height: 4vh;
  margin: 0 10px;
}
nav div.nav button {
  grid-area: boton;
  margin: 25% 0;
  height: 52px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400; /* 111.111% */
}

article {
  background-color: yellow;
  height: 100vh;
  display: grid;
  place-content: center;
}

.cartas_servicios {
  background-color: rgb(124, 124, 255);
  height: 100vh;
  width: 100%;
  display: inline-block;
  grid-template-areas: "carta1" "carta2" "carta3";
}
.cartas_servicios h1 {
  height: -moz-min-content;
  height: min-content;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  margin: 5% 0 70px 0;
}
.cartas_servicios h1 b {
  font-size: 65px;
}
.cartas_servicios div.cartas-container {
  display: grid;
  grid-template: "carta1 carta2 carta3" 50vh/auto auto auto;
  gap: 5%;
  margin: 0 5%;
  perspective: 1000px;
}
.cartas_servicios div.cartas-container .flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner {
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 {
  background-color: #bbb;
  color: black;
  border-radius: 50px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1 img,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2 img,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 img {
  width: 25vw;
  height: 45vh;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1 h2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2 h2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 h2 {
  font-size: 30px;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back3 {
  background-color: #2980b9;
  color: white;
  height: 50vh;
  transform: rotateY(180deg);
  border-radius: 50px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back3 {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1 {
  grid-area: carta1;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2 {
  grid-area: carta2;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 {
  grid-area: carta3;
}
.cartas_servicios div.cartas-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.quienes_somos_carrusel {
  background-color: rgb(120, 241, 120);
  height: 100vh;
  display: grid;
  place-content: center;
}

.portafolioSection {
  padding: 10px 0 10px;
  min-height: 10vh;
}

.sectionTitle {
  margin-bottom: 10px;
}

.portafolioFilter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.filterItem {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  font-weight: 500;
  color: #9F56FD;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #EFF0F4;
}

.filterItem:hover:not(.active) {
  opacity: 0.6;
}

.filterItem.active {
  color: blue;
}

.portafolioItems {
  margin: 11vw;
  display: flex;
  flex-wrap: wrap;
}

.portafolioItem {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
}

.portafolioItemInner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  max-height: 12em;
}

.portafolioItemImg img {
  border-radius: 5px;
  width: 100%;
  max-height: 8em;
  transition: all 0.3s ease;
}

.portafolioItemInner:hover .portafolioItemImg img {
  transform: translateY(-25px);
}

.portafolioItemImg {
  position: relative;
}

.viewProject {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #9F56FD;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

.portafolioItemInner:hover .viewProject {
  transform: translateY(0px);
  opacity: 1;
}

.portafolioItemDetails {
  display: none;
}

.portafolioItemInner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #666666;
  text-transform: capitalize;
}

h1 {
  height: -moz-min-content;
  height: min-content;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  margin: 5% 0 70px 0;
}

b {
  font-size: 65px;
}



.Eggxcelentes {
  display: grid;
  grid-template-columns: 40% 60%;
  place-content: center;
  margin: 0 10vw;
  height: 50vh;
}

.titulo {
  grid-column: 1;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  align-items: center;
}

.texto {
  grid-column: 2;
  font-family: "Sans-serif";
  font-size: 28px;
}

footer {
  background-color: #2B2C2F;
  height: 60vh;
  display: grid;
  grid-template-areas: "logo" "links" "Derechos" "redes";
}
footer div.footer {
  display: grid;
  margin: 5% 10%;
  grid-template: "logo links vacio" 35vh "derechos derechos redes" auto/auto 33% 33%;
}
footer div.footer div.logo {
  grid-area: logo;
  border-right: 2px solid #FFFFFF;
  margin-bottom: 20px;
}
footer div.footer div.logo img {
  margin: 5% 15%;
}
footer div.footer div.links_footer {
  grid-area: links;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #FFFFFF;
  margin-bottom: 20px;
}
footer div.footer div.links_footer a {
  text-decoration: none;
  color: white;
  margin: 3.5% 33%;
  font-size: 24px;
}
footer div.footer div.derechosReservados {
  grid-area: derechos;
  border-top: 2px solid #FFFFFF;
  margin-top: 20px;
}
footer div.footer div.derechosReservados p {
  color: white;
  margin: 50px 10px;
  font-size: 20px;
}
footer div.footer div.redes {
  grid-area: redes;
  margin-top: 20px;
  border-top: 2px solid #FFFFFF;
}
footer div.footer div.redes p {
  color: white;
  margin: 50px 0 0 30%;
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */