@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
nav {
  height: 15vh;
  display: grid;
  grid-template-areas: "logo" "links" "modo" "boton";
  background: #2B2C2F;
}
nav div.nav {
  display: grid;
  margin: 0 5%;
  grid-template: "logo links modo boton" 15vh/10% 60% 10% 188px;
}
nav div.nav img.logo {
  grid-area: logo;
  margin: 33%;
  width: 5vh;
  height: 5vh;
}
nav div.nav div.links_nav {
  grid-area: links;
  width: 100%;
  display: flex;
  align-items: center;
}
nav div.nav div.links_nav a {
  text-decoration: none;
  margin-right: 10%;
  color: white;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
nav div.nav div.Modo_nav {
  grid-area: modo;
  margin: 33% 0;
}
nav div.nav div.Modo_nav .sol {
  width: 4vh;
  height: 4vh;
}
nav div.nav div.Modo_nav .ingles {
  width: 4vh;
  height: 4vh;
  margin: 0 10px;
}
nav div.nav button {
  grid-area: boton;
  margin: 25% 0;
  height: 52px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400; /* 111.111% */
}

header {
  height: 961px;
  display: grid;
  place-content: center;
  width: 100%;
  margin: 0 auto;
}

.somosWebelopers {
  font-size: 1.25rem;
  font-weight: bold;
  max-width: 241px;
}

.webelopers {
  font-size: 40px;
  font-weight: bold;
  color: #9f7aea;
  line-height: 32px;
}

.fondoheader {
  position: absolute;
  height: 752px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  top: 233px;
  right: 0;
  bottom: 0;
  left: 0;
}

header .oracion {
  display: flex;
  margin-left: 263px;
  margin-top: 248px;
}

.creatividad {
  width: 845px;
  height: 300px;
  top: 112px;
  font-size: 100px;
  font-weight: 600;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
}

.imagenLogo {
  position: relative;
  width: 553px;
  height: 575px;
  margin-left: 1138px;
  margin-bottom: 192px;
  margin-top: -440px;
}

.imagenLogo .fondohuevo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.imagenLogo .logo {
  position: absolute;
  width: 507px;
  height: 461.63px;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

article {
  background-color: yellow;
  height: 100vh;
  display: grid;
  place-content: center;
}

.cartas_servicios {
  background-color: rgb(124, 124, 255);
  height: 100vh;
  width: 100%;
  display: inline-block;
  grid-template-areas: "carta1" "carta2" "carta3";
}
.cartas_servicios h1 {
  height: -moz-min-content;
  height: min-content;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  margin: 5% 0 70px 0;
}
.cartas_servicios h1 b {
  font-size: 65px;
}
.cartas_servicios div.cartas-container {
  display: grid;
  grid-template: "carta1 carta2 carta3" 50vh/auto auto auto;
  gap: 5%;
  margin: 0 5%;
  perspective: 1000px;
}
.cartas_servicios div.cartas-container .flip-card {
  background-color: transparent;
  width: 100%;
  perspective: 1000px;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner {
  position: relative;
  transition: transform 1000ms;
  transform-style: preserve-3d;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 {
  background-color: #bbb;
  color: black;
  border-radius: 50px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1 img,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2 img,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 img {
  width: 25vw;
  height: 45vh;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1 h2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2 h2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 h2 {
  font-size: 30px;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back3 {
  background-color: #2980b9;
  color: white;
  height: 50vh;
  transform: rotateY(180deg);
  border-radius: 50px;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back1,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back2,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3,
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-back3 {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front1 {
  grid-area: carta1;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front2 {
  grid-area: carta2;
}
.cartas_servicios div.cartas-container .flip-card .flip-card-inner .flip-card-front3 {
  grid-area: carta3;
}
.cartas_servicios div.cartas-container .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.quienes_somos_carrusel {
  background-color: rgb(120, 241, 120);
  height: 100vh;
  display: grid;
  place-content: center;
}

.portafolioSection {
  padding: 10px 0 10px;
  min-height: 10vh;
}

.sectionTitle {
  margin-bottom: 10px;
}

.portafolioFilter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.filterItem {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  font-weight: 500;
  color: #9F56FD;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #EFF0F4;
}

.filterItem:hover:not(.active) {
  opacity: 0.6;
}

.filterItem.active {
  color: blue;
}

.portafolioItems {
  margin: 11vw;
  display: flex;
  flex-wrap: wrap;
}

.portafolioItem {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
}

.portafolioItemInner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  max-height: 12em;
}

.portafolioItemImg img {
  border-radius: 5px;
  width: 100%;
  max-height: 8em;
  transition: all 0.3s ease;
}

.portafolioItemInner:hover .portafolioItemImg img {
  transform: translateY(-25px);
}

.portafolioItemImg {
  position: relative;
}

.viewProject {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #9F56FD;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

.portafolioItemInner:hover .viewProject {
  transform: translateY(0px);
  opacity: 1;
}

.portafolioItemDetails {
  display: none;
}

.portafolioItemInner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #666666;
  text-transform: capitalize;
}

h1 {
  height: -moz-min-content;
  height: min-content;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  margin: 5% 0 70px 0;
}

b {
  font-size: 65px;
}

.contacto {
  width: 100%;
  height: 100vh;
  display: grid;
  font-family: "Poppins", sans-serif;
  grid-template-areas: "contenido" "formulario";
}
.contacto .formulario {
  background-color: #402e59;
  display: grid;
  opacity: 0.9;
  border-radius: 5%;
  margin: 0 5% 0 5%;
  background-image: radial-gradient(#ffffff 0.5px, transparent 0.5px), radial-gradient(#ffffff 0.5px, #402e59 0.5px);
  grid-template: "contenido formulario" auto/50% 50%;
}
.contacto .contenido {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto .contenido h2 {
  font-size: 28px;
  text-align: left;
  margin-left: 60px;
  color: #ffffff;
  font-weight: 300;
}
.contacto .contenido h1 {
  font-size: 77px;
  line-height: 143%;
  font-weight: 700;
  color: #ffffff;
}
.contacto form {
  grid-area: formulario;
  background-color: #ffffff;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.contacto .form_title {
  margin-bottom: 0.5em;
  font-size: 2rem;
}
.contacto .form_link {
  font-weight: 400;
  color: black;
}
.contacto .form_group {
  position: relative;
  --color: #5757577e;
}
.contacto .form_input {
  width: 100%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "Poppins", sans-serif;
}
.contacto .form_input:not(:-moz-placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
.contacto .form_input:focus + .form_label, .contacto .form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}
.contacto .form_label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.contacto .form_submit {
  margin-top: 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
  padding-top: 20px;
  width: 350px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}
.contacto .form_submit:hover {
  background-color: green;
  cursor: pointer;
}
.contacto .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transition: transform 0.4s;
}
.contacto .form_input:not(:-moz-placeholder-shown) ~ .form_line {
  transform: scale(1);
}
.contacto .form_input:focus ~ .form_line,
.contacto .form_input:not(:placeholder-shown) ~ .form_line {
  transform: scale(1);
}
.contacto .form_input:not(:-moz-placeholder-shown) {
  color: #4d4646;
}
.contacto .form_input:not(:placeholder-shown) {
  color: #4d4646;
}
@media (max-width: 425px) {
  .contacto .form_title {
    font-size: 1.8rem;
  }
}

.form_paragraph {
  font-weight: 300;
}

.Eggxcelentes {
  display: grid;
  grid-template-columns: 40% 60%;
  place-content: center;
  margin: 0 10vw;
  height: 50vh;
}

.titulo {
  grid-column: 1;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 50px;
  display: flex;
  align-items: center;
}

.texto {
  grid-column: 2;
  font-family: "Sans-serif";
  font-size: 28px;
}

footer {
  background-color: #2B2C2F;
  height: 60vh;
  display: grid;
  grid-template-areas: "logo" "links" "Derechos" "redes";
}
footer div.footer {
  display: grid;
  margin: 5% 10%;
  grid-template: "logo links vacio" 35vh "derechos derechos redes" auto/auto 33% 33%;
}
footer div.footer div.logo {
  grid-area: logo;
  border-right: 2px solid #FFFFFF;
  margin-bottom: 20px;
}
footer div.footer div.logo img {
  margin: 5% 15%;
}
footer div.footer div.links_footer {
  grid-area: links;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #FFFFFF;
  margin-bottom: 20px;
}
footer div.footer div.links_footer a {
  text-decoration: none;
  color: white;
  margin: 3.5% 33%;
  font-size: 24px;
}
footer div.footer div.derechosReservados {
  grid-area: derechos;
  border-top: 2px solid #FFFFFF;
  margin-top: 20px;
}
footer div.footer div.derechosReservados p {
  color: white;
  margin: 50px 10px;
  font-size: 20px;
}
footer div.footer div.redes {
  grid-area: redes;
  margin-top: 20px;
  border-top: 2px solid #FFFFFF;
}
footer div.footer div.redes p {
  color: white;
  margin: 50px 0 0 30%;
  font-size: 24px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-size: 20px;
}/*# sourceMappingURL=main.css.map */