@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
.contacto{
    width: 100%;
    height: 1080px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    border-radius: 25%;
    
    
    .formulario{
        background-color: #402e59;
        opacity: 0.9;
        background-image: radial-gradient(#ffffff 0.5px, transparent 0.5px), radial-gradient(#ffffff 0.5px, #402e59 0.5px);
        background-size: 20px 20px;
        background-position: 0 0, 10px 10px;
        height: 920px;
        width: 1595px;
    }
    .contenido {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(100% - 823px);
        height: 800px;
        h2 {
            font-size: 28px;
            text-align: left;
            margin-left: 60px;
            color: #ffffff;
            font-weight: 300;
        }
        h1{
            font-size: 77px;
            line-height: 143%;
            font-weight: 700;
            color: #ffffff;
        }
    }

    form{
        background-color: #ffffff;
        width: 90%;
        width: 823px;
        height: 920px;
        max-width: 823px;
        padding: 4.5em 3em;
        border-radius: 10px;
        box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
        text-align: center;
             
        margin-left: 1550-823px;
        margin-top: -800px;
        
    }
    .form_title{
        margin-bottom: .5em;
        font-size: 2rem;
    }
    .form_link{
        font-weight: 400;
        color: black;
    }
    .form_group{
        position: relative;
        --color: #5757577e;
    }
    .form_input{
        width: 100%;
        background: none;
        color :#706c6c;
        font-size: 1rem;
        padding: .6em .3em;
        border: none;
        outline: none;
        border-bottom: 1px solid var(--color);
        font-family: 'Poppins', sans-serif;
    }
    .form_input:focus + .form_label,.form_input:not(:placeholder-shown) + .form_label{
        transform: translateY(-12px) scale(.7);
        transform-origin: left top;
        color: #3866f2;
    }
    .form_label{
        color: var(--color);
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 5px;
        transform: translateY(10px);
        transition: transform .5s, color .3s;
    }
    .form_submit{
       font-family: 'Poppins', sans-serif;
       font-weight: 300;
       font-size: 1rem;
       padding: .8em 0;
       border: none;
       border-radius: .5em;
       padding-top: 20px; // Ajusta la altura del botón aquí
       width: 350px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); // Agrega sombra oscura
        transition: background-color 0.3s; // Agrega transición para el cambio de color

        &:hover {
            background-color: green; // Cambia el color de fondo al pasar el mouse
            cursor: pointer; // Cambia el cursor a la forma de selección
        }
}
    .form_line{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #3866f2;
        transition: transform .4s;
    }
    .form_input:focus ~ .form_line,
    .form_input:not(:placeholder-shown) ~ .form_line {
        transform: scale(1);

    }
    .form_input:not(:placeholder-shown){
        color: #4d4646;
    }
    @media (max-width: 425px){
        .form_title{
            font-size: 1.8rem;
        }

    
}
}


.form_paragraph{
    font-weight: 300;
}




