footer {
  background-color: #2b2c2f;
  height: 60vh;
  display: grid;
  grid-template-areas:
    "logo"
    "links"
    "Derechos"
    "redes";
  & div.footer {
    display: grid;
    margin: 5% 10%;
    grid-template:
      "logo links vacio" 35vh
      "derechos derechos redes" auto /
      auto 33% 33%;
    & div.logo {
      grid-area: logo;
      border-right: 2px solid #ffffff;
      margin-bottom: 20px;
      & img {
        margin: 5% 15%;
      }
    }
    & div.links_footer {
      grid-area: links;
      display: flex;
      flex-direction: column;
      border-right: 2px solid #ffffff;
      margin-bottom: 20px;
      & a {
        text-decoration: none;
        color: white;
        margin: 3.5% 33%;
        font-size: 24px;
      }
    }
    & div.derechosReservados {
      grid-area: derechos;
      border-top: 2px solid #ffffff;
      margin-top: 20px;
      & p {
        color: white;
        margin: 50px 10px;
        font-size: 20px;
      }
    }
    & div.redes {
      grid-area: redes;
      margin-top: 20px;
      border-top: 2px solid #ffffff;
      & p {
        color: white;
        margin: 50px 0 0 30%;
        font-size: 24px;
      }
    }
  }
}
