footer {
    background-color: #2B2C2F;
    height: 60vh;
    display: grid;
    grid-template-areas: 
        "logo" 
        "links"
        "Derechos" 
        "redes";
    & div.footer{
        display: grid;
        margin: 5% 10%;
        grid-template: 
        "logo links links" auto
        "derechos redes redes" auto /
        50% 25% auto;
        & div.logo{
            grid-area: logo;
        }
        & div.links{
            grid-area: links;
            display: flex;
            flex-direction: column;
        }
        & div.derechosReservados{
            grid-area: derechos;
        }
        & div.redes{
            grid-area: redes;
        }
    }
}