.portafolioSection {
  padding: 10px 0 10px;
  min-height: 10vh;
}

.sectionTitle {
  margin-bottom: 10px;
}

.portafolioFilter {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.filterItem {
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;;
  font-weight: 500;
  color: #9F56FD;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
  background-color: #EFF0F4;
}

.filterItem:hover:not(.active) {
  opacity: 0.6;
}

.filterItem.active {
  color: blue;
}

.portafolioItems {
  margin: 11vw;
  display: flex;
  flex-wrap: wrap;
}

.portafolioItem {
  flex: 0 0 33.3%;
  max-width: 33.3%;
  padding: 10px;
}

.portafolioItemInner {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  box-shadow:3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  max-height: 12em;
}

.portafolioItemImg img {
  border-radius: 5px;
  width: 100%;
  max-height: 8em;
  transition: all 0.3s ease;
}

.portafolioItemInner:hover .portafolioItemImg img {
  transform: translateY(-25px);
}

.portafolioItemImg {
  position: relative;
}

.viewProject {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: #9F56FD;
  transition: all 0.3s ease;
  position: absolute;
  left: 0;
  bottom: -4px;
  transform: translateY(-5px);
  z-index: -1;
  opacity: 0;
}

.portafolioItemInner:hover .viewProject {
  transform: translateY(0px);
  opacity: 1;
}

.portafolioItemDetails {
  display: none;
}

.portafolioItemInner p {
  font-size: 16px;
  margin: 10px 0 0;
  color: #666666;
  text-transform: capitalize;
}

h1 {
  height: min-content;
  font-size: 36px;
  text-align: center;
  line-height: 40px;
  margin: 5% 0 70px 0;
}

b {
  font-size: 65px;
}
